.DS_Store

.idea
*.iml
.vscode

.next
.turbo
next-env.d.ts
out

node_modules
#package-lock.json
#yarn.lock

test-results
playwright-report

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env*
!.env*.example
