.DS_Store

.idea
*.iml
.vscode

.swc
.next
.turbo
next-env.d.ts
out

node_modules
#package-lock.json
#yarn.lock

test-results
playwright-report
playwright/.cache
#**/*.spec.*-snapshots/*.png
#!**/*.spec.*-snapshots/*-linux.png

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env*
!.env*.example
